$green: #70bd34;

* {
	user-select: none;
}

html, body, div {
	margin: 0;
	padding: 0;
}

html {
	min-height: 100%;
}

body {
	background: #1C1F25;
	color: #333;
	font-family: 'Lato', "Arial", sans-serif;
	font-weight: 300;
}

.frame {
	width: 1216px;
	display: block;
	position:absolute;
	left: 50%;
	margin-left: -600px;
	background: #262B33;
	min-height: 100%;
	color: #fff;
}


.table {
	position: relative;
	width: 560px;
	margin: 95px 20px;

	h1 {
		font-size: 32px;
		font-family: 'Ruda';
		margin: 10px 0px;
	}

	div {
		display: inline-block;
		cursor: pointer;
		margin: 25px 0px 5px 10px;
	}

	table {
		width: 100%;
		td.count {
			padding: 0px 15px;
		}
		td {
			padding: 3px;
			padding-bottom: 10px;

			font-size: 14px;
		}
		.question {
			input {
				font-size: 15px;
				display: inline-block;
				vertical-align: top;
				border: solid 1px #ccc;
				padding: 5px 20px;
				margin: 0px;
				margin-right: 15px;
				width: 450px;
				resize: none;
				overflow-y: auto;
				outline: none;
				background: #404753;
				border: none;
				color: #fff;
				font-size: 32px;
				font-family: 'Lato';
				font-weight: bold;
				border-radius: 4px;
			}
		}

	}

	button {
		background: $green;
		border: none;
		outline: none;
		color: #fff;
		padding: 15px;
		font-size: 16px;
		margin-top: 20px;
		margin-left: 160px;
		position: relative;
	}

}

#right {
	display: inline-block;
	position: absolute;
	right: 0px;
	top: 76px;
	left: 50%;
	width: 620px;
	height: 640px;
	margin: 0px;
	margin-left: -12px;
	overflow: hidden;
	border: none;
	background: #2E353D;

	#preview {
		position:relative;
		margin-bottom: 10px;
		background: #2f3944;

		.addnew {
			position:absolute;
			top: 50%;
			left: 36%;
			opacity: 0.5;
		}

		&.ready {
			cursor: pointer;
			&:hover {
				.criticism {
					opacity: 0;
					z-index: -1;
				}
				.caption {
					&:before {
						content: 'Regenerate';
						position: absolute;
						left: 50%;
						top: 50%;
						margin-top: 60px;
						margin-left: -52px;
						text-align: center;
						color: #fff;
						z-index: 10;
						width: 100px;
						height: 100px;
						font-size: 18px;
						font-weight: 400;
					}
				}
				&:before {
					position: absolute;
					top: 0px;
					left: 0px;
					right: 0px;
					bottom: 0px;
					background: #3393e3;
					opacity: 0.2;
					content: ' ';
				}
				&:after {
					content: "\e600";
					font-family: 'icomoon';
					position:absolute;
					top: 50%;
					margin-top: -110px;
					left: 50%;
					margin-left: -110px;
					height: 120px;
					width: 120px;
					display: block;
					background: #3393e3;
					color: #fff;
					font-size: 120px;
					padding: 50px;
					padding-top: 40px;
				}
			}
		}
	}

	.controls {
		margin: 5px;

		div {
			display: block;
		}
	}

}

h1 {
	color: #fff;
	font-size: 16px;
}

@font-face {
	font-family: 'icomoon';
	src:url('assets/font/icomoon.eot');
	src:url('assets/font/icomoon.eot?#iefix') format('embedded-opentype'),
		url('assets/font/icomoon.ttf') format('truetype'),
		url('assets/font/icomoon.woff') format('woff'),
		url('assets/font/icomoon.svg#icomoon') format('svg');
	font-weight: normal;
	font-style: normal;
}

[class*="icon-"] {
	font-family: 'icomoon';
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;

	/* Better Font Rendering =========== */
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	margin-right: 8px;
	cursor: pointer;
}

.icon-spinner2:before {
	content: "\e600";
}
.icon-close {
	&:before {
		content: "\e602";
		font-size: 20px;
	}

	opacity: 0.5;
	transition: all 0.2s ease;

	&:hover {
		opacity: 1;
	}
}
.icon-plus:before {
	content: "\e601";
}

div.criticism {
	display: block;
	border-radius: 5px;
	background: #D19140;
	margin: 0px;
	color: #fff;
	font-size: 15px;
	height: 38px;
	padding: 10px 10px;
	width: 300px;
	position: absolute;
	top: 50%;
	left: 50%;
	z-index: 1;
	margin-top: -40px;
	margin-left: -160px;
	text-align: center;

	opacity: 0;

	&.show {
		opacity: 1;
	}
}

#backgroundcover {
	position: fixed;
	top: 0px;
	right: 0px;
	bottom: 0px;
	left: 0px;
	background: #000;
	z-index: -1;
	opacity: 0;
	transition: all 0.5s ease;
	&.show {
		z-index: 2000;
		opacity: 0.5;
		transition: opacity 0.5s ease;
	}
}

.box {
	width: 635px;
	left: 50%;
	top: 50%;
	margin-left: -317px;
	margin-top: -210px;
	padding: 15px;
	position: absolute;
	background: #fff;
	border: solid 1px #777;
	z-index: -1;
	opacity: 0;
	transition: all 0.5s ease;

	text-align: left;
	font-weight: 300;
	font-size: 17px;

	box-shadow: 2px 2px 4px rgba(0,0,0,0.2);
	color: #333;

	img {
		float: right;
		margin-left: 70px;
		margin-top: 5px;
		margin-right: 5px;
	}

	h1 {
		font-size: 30px;
		font-weight: 300;
		margin: 5px 0px;
		color: #333;
	}
	p {
		margin: 24px 0px;
	}
	hr {
		border: none;
		border-bottom: solid 1px #eee;
		margin: 40px 20px;
	}

	&.show {
		z-index: 10000;
		opacity: 1;
	}

	input {
		margin-top: 20px;
		padding: 12px;
		width: 150px;
		background: $green;
		margin-left: 4px;
		color: #fff;
		border: none;
		vertical-align: baseline;
		font-size: 18px;
		font-family: 'Lato';
		font-weight: 300;
		outline: none;

		&[type=text] {
			width: 450px;
			margin-top: 20px;
			border: solid 1px #333;
			font-size: 16px;
			color: #333;
			background: #fff;
			border: solid 2px #70bd34;
			padding: 11px;
			margin-left: 0px;
		}
	}
}

#header {
	position: fixed;
	width: 1200px;
	top: 0px;
	left: 50%;
	margin-left: -600px;
	height: 40px;
	background: #333;
	padding: 13px 8px;
	z-index: 100;
	color: #fff;

	border-bottom: solid 10px #3393e3;

	.logo {
		display: block;
		background: url(assets/materialogo.png) no-repeat;
		width: 60px;
		height: 50px;
		float: left;
		margin-left: 17px;
		margin-top: 2px;
	}
	.right {
		position:absolute;
		right: 50px;
		top: 22px;
	}

	h1 {
		margin-left: 8px;
		font-family: 'Lato', serif;
		font-weight: 300;
		font-size: 24px !important;
		vertical-align: middle;
		margin-top: 3px;
		float: left;
		cursor: pointer;
	}
	div.link {
		float: left;
		cursor: pointer;
		margin: 5px;
		margin-top: 5px;
		padding: 10px;
		display: inline-block;
		vertical-align: baseline;
		z-index: 99;
		font-size: 12px;
		color: #ccc;
		text-decoration: underline;
	}
}

.box {
	width: 635px;
	left: 50%;
	top: 50%;
	margin-left: -317px;
	margin-top: -210px;
	padding: 15px;
	position: absolute;
	background: #fff;
	border: solid 1px #777;
	z-index: -1;
	opacity: 0;
	transition: all 0.5s ease;

	text-align: left;
	font-weight: 300;
	font-size: 17px;

	box-shadow: 2px 2px 4px rgba(0,0,0,0.2);
	color: #333;

	img {
		float: right;
		margin-left: 70px;
		margin-top: 5px;
		margin-right: 5px;
	}

	h1 {
		font-size: 30px;
		font-weight: 300;
		margin: 5px 0px;
	}
	p {
		margin: 24px 0px;
	}
	hr {
		border: none;
		border-bottom: solid 1px #eee;
		margin: 40px 20px;
	}

	&.show {
		z-index: 10000;
		opacity: 1;
	}

	input {
		margin-top: 20px;
		padding: 12px;
		width: 150px;
		background: $green;
		margin-left: 4px;
		color: #fff;
		border: none;
		vertical-align: baseline;
		font-size: 18px;
		font-family: 'Lato';
		font-weight: 300;
		outline: none;

		&[type=text] {
			width: 450px;
			margin-top: 20px;
			border: solid 1px #333;
			font-size: 16px;
			color: #333;
			background: #fff;
			border: solid 2px #70bd34;
			padding: 11px;
			margin-left: 0px;
		}
	}
}

label.checktoggle {
	display: inline-block;
	width: 62px;
	height: 15px;
	background: #4C515A;
	padding: 5px;
	color: #fff;

	margin-top: 1px;
	margin-bottom: 5px;
	margin-right: 10px;
	margin-left: 5px;

	vertical-align: middle;

	position: relative;
	overflow: hidden;
	transition: all ease 0.25s;
	cursor: pointer;
	z-index: 5;

	&:before {
		position: absolute;
		transition: all ease 0.15s;
		background: #fff;
		padding: 1px;
		margin-top: -2px;
		margin-left: -2px;
		width: 18px;
		display: inline-block;
		height: 17px;
		content: ' ';
		overflow: hidden;
	}
	&:after {
		transition: all ease 0.15s;
		position: absolute;
		left: -20px;
		font-size: 11px;
		font-weight: 400;
		margin-top: 1px;
		content: 'ON\00a0\00a0\00a0\00a0\00a0\00a0\00a0\00a0\00a0\00a0\00a0\00a0\00a0\00a0\00a0\00a0\00a0\00a0\00a0\00a0OFF';
		overflow: hidden;
	}
}

input[type=checkbox] {
	display: none;
}

input[type=checkbox]:checked + label.checktoggle {
	&:before {
		margin-left: 44px;
		content: ' ';
	}
	&:after {
		left: 15px;
	}
}

.arrow_box {
	position: absolute;
	background: #fbf767;
	border: 2px solid #fbf767;
	left: 35%;
	top: 123px;
	color: #151515;
	font-weight: 400;
	padding: 5px;
	height: 50px;
	width: 150px;

	animation: pounce 1s infinite;

	span {
		display: inline-block;
		width: 140px;
		float: right;
		margin-top: 5px;
		margin-right: 12px;
		text-align: right;
	}
}
.arrow_box:after, .arrow_box:before {
	right: 100%;
	top: 50%;
	border: solid transparent;
	content: " ";
	height: 0;
	width: 0;
	position: absolute;
	pointer-events: none;
}

.arrow_box:after {
	border-color: rgba(251, 247, 103, 0);
	border-right-color: #fbf767;
	border-width: 60px;
	margin-top: -60px;
}
.arrow_box:before {
	border-color: rgba(251, 247, 103, 0);
	border-right-color: #fbf767;
	border-width: 63px;
	margin-top: -63px;
}

@keyframes pounce {
	0% {
		transform: translate(0px,0px);
	}
	50% {
		transform: translate(10px,0px);
	}
	100% {
		transform: translate(0px,0px);
	}
}

