<!DOCTYPE html>
<!-- INJECTS IE CLASSES ONTO HTML TAG -->
<!--[if IE 8 ]>    <html class="IE8"> <![endif]-->
<!--[if IE 9 ]>    <html class="IE9"> <![endif]-->
<!--[if (gt IE 9)|!(IE)]><!--> <html class=""> <!--<![endif]-->
	<head>
		<title>Word Search Creator</title>
		<meta charset="utf-8" />

		<!-- STYLESHEETS -->
		<link rel="stylesheet" type="text/css" href="creator.css">

		<!-- REQUIRED MATERIA JAVASCRIPT -->
		<script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
		<script type="text/javascript" src="/js/materia.creatorcore.js"></script>

		<!-- YOUR PREREQUISITES -->
		<script src="//ajax.googleapis.com/ajax/libs/angularjs/1.0.8/angular.js"></script>

		<!-- MAIN CREATOR SCRIPT -->
		<script src="creator.js"></script>
	</head>
	<body ng-cloak ng-controller='wordSearchCreatorCtrl'>
		
		<div class='header'>
			<div>
				<label>Widget Title:</label>
				<input type='text' id='title' ng-model='widget.title' value='{{widget.title}}'/>
			</div>
		</div>
		<section>
			<div class='box table'>
				<table cellspacing=0 cellpadding=0>
					<tr class='bold'>
						<td class='count'>#</td>
						<td>Word to guess</td>
						<td></td>
					</tr>
					<tr class='question' ng-repeat='word in widget.words'>
						<td class='count'>{{$index+1}}</td>
						<td>
							<textarea ng-model='word.q'></textarea>
						</td>
						<td>
							<span class='icon-cancel-circle delete' ng-click='removePuzzleItem($index)'></span>
						</td>
					</tr>
				</table>
				<div ng-click='addPuzzleItem()'>
					<span class='icon-plus'></span>
					Add new question
				</div>
			</div>
			<div class='box rightcontent'>
				<div id='preview'><canvas id='canvas' width=300 height=308></canvas></div>
				<input type='button' value='Generate new Puzzle' ng-click='generateNewPuzzle()'>
				<div class='controls'>
				</div>
			</div>
		</section>


		<!-- INITIALIZE -->
		<script type="text/javascript">
			angular.bootstrap(document, ['wordSearchCreator']);
			Materia.CreatorCore.start(WordSearch.Creator);
		</script>
	</body>
</html>

