$green: #70bd34;

html, body, div {
	margin: 0;
	padding: 0;
}

html {
	min-height: 100%;
}

body {
	background: #dedede;
	background-repeat: repeat-x;
	color: #333;
	font-family: 'Lato', "Arial", sans-serif;
	font-weight: 300;
}

.frame {
	width: 1200px;
	display: block;
	position:absolute;
	left: 50%;
	margin-left: -600px;
	background: #fff;
	min-height: 100%;
}


.table {
	position: relative;
	width: 560px;
	margin: 95px 20px;

	h1 {
		font-size: 26px;
		font-weight: 300;
		color: #333;
	}


	div {
		display: inline-block;
		cursor: pointer;
		margin: 25px 0px 5px 10px;
	}

	table {
		width: 100%;
		td.count {
			padding: 0px 15px;
		}
		td {
			padding: 3px;
			font-size: 14px;
		}
		tr:nth-child(even) {
			background-color: #f0f0f0;
		}
		.question {
			textarea {
				font-size: 15px;
				display: inline-block;
				vertical-align: top;
				border: solid 1px #ccc;
				padding: 5px;
				margin: 0 -1px;
				margin-right: 15px;
				width: 90%;
				resize: none;
				font-family: verdana;
				overflow-y: auto;
				outline: none;
			}
		}
	}
}

#preview {
	display: inline-block;
	position: fixed;
	right: 0px;
	top: 50px;
	left: 50%;
	width: 620px;
	height: 620px;
	background: #2f3944;
	margin: 0px;
	margin-left: -4px;
	overflow: hidden;
	border: none;

	#canvas {
		margin: 5px;
	}
}

h1 {
	color: #fff;
	font-size: 16px;
}

@font-face {
	font-family: 'icomoon';
	src:url('assets/font/icomoon.eot');
	src:url('assets/font/icomoon.eot?#iefix') format('embedded-opentype'),
		url('assets/font/icomoon.ttf') format('truetype'),
		url('assets/font/icomoon.woff') format('woff'),
		url('assets/font/icomoon.svg#icomoon') format('svg');
	font-weight: normal;
	font-style: normal;
}

[class*="icon-"] {
	font-family: 'icomoon';
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;

	/* Better Font Rendering =========== */
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	margin-right: 8px;
	cursor: pointer;
}

.icon-cancel-circle:before {
	content: "\e600";
}
.icon-plus:before {
	content: "\e601";
}

div.criticism {
	display: block;
	border-radius: 5px;
	background: #D19140;
	margin: 0px;
	color: #fff;
	font-size: 14px;
	height: 38px;
	padding: 12px 0px;
	width: 320px;
	position: absolute;
	top: 7px;
	right: 15px;

	opacity: 0;
	transition: opacity 1s ease;

	&.show {
		opacity: 1;
	}

	div.img {
		background: url(assets/hangman.png);
		display:inline-block;
		width: 33px;
		height: 50px;
		margin: -5px 8px 10px;
		position: relative;
		top: 5px;
		left: -5px;
		float: left;
	}
}

#backgroundcover {
	position: fixed;
	top: 0px;
	right: 0px;
	bottom: 0px;
	left: 0px;
	background: #000;
	z-index: -1;
	opacity: 0;
	transition: all 0.5s ease;
	&.show {
		z-index: 2000;
		opacity: 0.5;
		transition: opacity 0.5s ease;
	}
}

.box {
	width: 635px;
	left: 50%;
	top: 50%;
	margin-left: -317px;
	margin-top: -210px;
	padding: 15px;
	position: absolute;
	background: #fff;
	border: solid 1px #777;
	z-index: -1;
	opacity: 0;
	transition: all 0.5s ease;

	text-align: left;
	font-weight: 300;
	font-size: 17px;

	box-shadow: 2px 2px 4px rgba(0,0,0,0.2);
	color: #333;

	img {
		float: right;
		margin-left: 70px;
		margin-top: 5px;
		margin-right: 5px;
	}

	h1 {
		font-size: 30px;
		font-weight: 300;
		color: #333;
		margin: 5px 0px;
	}
	p {
		margin: 24px 0px;
	}
	hr {
		border: none;
		border-bottom: solid 1px #eee;
		margin: 40px 20px;
	}

	&.show {
		z-index: 10000;
		opacity: 1;
	}

	input {
		margin-top: 20px;
		padding: 12px;
		width: 150px;
		background: $green;
		margin-left: 4px;
		color: #fff;
		border: none;
		vertical-align: baseline;
		font-size: 18px;
		font-family: 'Lato';
		font-weight: 300;
		outline: none;

		&[type=text] {
			width: 450px;
			margin-top: 20px;
			border: solid 1px #333;
			font-size: 16px;
			color: #333;
			background: #fff;
			border: solid 2px #70bd34;
			padding: 11px;
			margin-left: 0px;
		}
	}
}

#header {
	position: fixed;
	width: 1200px;
	top: 0px;
	left: 50%;
	margin-left: -600px;
	height: 40px;
	background: #333;
	padding: 13px 8px;
	z-index: 100;
	color: #fff;

	border-bottom: solid 10px #3393e3;

	.bottom {
		position:absolute;
		left: 0px;
		right: 0px;
		bottom: 0px;
		margin: 0px -8px;
		border-bottom: solid 1px #fff;
	}

	.logo {
		display: block;
		background: url(assets/materialogo.png) no-repeat;
		width: 60px;
		height: 50px;
		float: left;
		margin-left: 17px;
		margin-top: 2px;
	}
	.center {
		position:absolute;
		margin-left: -25px;;
		left: 50%;
		top: 22px;
	}

	h1 {
		margin-left: 8px;
		font-family: 'Lato', serif;
		font-weight: 300;
		font-size: 24px !important;
		vertical-align: middle;
		margin-top: 3px;
		float: left;
	}
	div.link {
		float: left;
		cursor: pointer;
		margin: 5px;
		margin-top: 5px;
		padding: 10px;
		display: inline-block;
		vertical-align: baseline;
		z-index: 99;
		font-size: 12px;
		color: #ccc;
		text-decoration: underline;
	}
}

.box {
	width: 635px;
	left: 50%;
	top: 50%;
	margin-left: -317px;
	margin-top: -210px;
	padding: 15px;
	position: absolute;
	background: #fff;
	border: solid 1px #777;
	z-index: -1;
	opacity: 0;
	transition: all 0.5s ease;

	text-align: left;
	font-weight: 300;
	font-size: 17px;

	box-shadow: 2px 2px 4px rgba(0,0,0,0.2);
	color: #333;

	img {
		float: right;
		margin-left: 70px;
		margin-top: 5px;
		margin-right: 5px;
	}

	h1 {
		font-size: 30px;
		font-weight: 300;
		color: #333;
		margin: 5px 0px;
	}
	p {
		margin: 24px 0px;
	}
	hr {
		border: none;
		border-bottom: solid 1px #eee;
		margin: 40px 20px;
	}

	&.show {
		z-index: 10000;
		opacity: 1;
	}

	input {
		margin-top: 20px;
		padding: 12px;
		width: 150px;
		background: $green;
		margin-left: 4px;
		color: #fff;
		border: none;
		vertical-align: baseline;
		font-size: 18px;
		font-family: 'Lato';
		font-weight: 300;
		outline: none;

		&[type=text] {
			width: 450px;
			margin-top: 20px;
			border: solid 1px #333;
			font-size: 16px;
			color: #333;
			background: #fff;
			border: solid 2px #70bd34;
			padding: 11px;
			margin-left: 0px;
		}
	}
}
