$green: #70bd34;

* {
	margin:0px;
	padding:0px;
}

@font-face {
	font-family: 'icomoon';
	src:url('assets/font/icomoon.eot');
	src:url('assets/font/icomoon.eot?#iefix') format('embedded-opentype'),
		url('assets/font/icomoon.ttf') format('truetype'),
		url('assets/font/icomoon.woff') format('woff'),
		url('assets/font/icomoon.svg#icomoon') format('svg');
	font-weight: normal;
	font-style: normal;
}

[class*="icon-"] {
	font-family: 'icomoon';
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;
	font-size: 20px;
	color: #fff;
	border: none;
	outline: none;
	background: none;

	/* Better Font Rendering =========== */
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	margin-right: 8px;
	cursor: pointer;
	transition: linear 0.075s;

	&:hover,
	&:focus {
		color: $green;
	}
}

.icon-tutorial:before {
	content: "\ea09";
}
.icon-keyboard:before {
	content: "\e955";
}

body {
	background: #2f3944;
	font-family: 'Ruda', arial;
	overflow: hidden;
	cursor: default;

	.main-element:focus {
		outline: 2px solid $green;
		outline-offset: -2px;
	}
}

button {
	cursor: pointer;
}

.action-button {
	margin-left: -40px;
	width: 80px;
	text-align: center;

	color: #fff;
	background: $green;
	border: none;
	padding: 6px 0px;
	border-radius: 3px;
	outline: none;

	&:hover,
	&:focus {
		background: #78DD5E;
		color: #000;
	}
}

@keyframes secondimg {
	40% {
		opacity: 0;
	}
	45% {
		opacity: 1;
	}
	100% {
		opacity: 1;
	}
}
@keyframes thirdimg {
	67% {
		opacity: 0;
	}
	72% {
		opacity: 1;
	}
	100% {
		opacity: 1;
	}
}

#intro,
#instructions,
#confirm {
	display: none;
	margin: 0 auto;
	min-width: 300px;
	max-width: 500px;
	padding: 15px;
	background: #fff;
	border: solid 2px #999;
	border-radius: 3px;
	box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
	text-align: center;
	z-index: 10000;

	&.show {
		display: block;
	}

	&:focus {
		border-color: #5163A6;
	}

	header {
		text-align: center;
		margin-bottom: 1em;
		font-weight: bold;
	}

	.caption {
		text-align: justify;
		line-height: 1.5em;
	}

	p {
		margin-bottom: 0.5em;
	}

	span.bold {
		font-weight: bold;
	}

	button {
		margin: 20px 10px 10px;
		padding: 8px;

		border: solid 2px rgba(0,0,0,0);

		&.cancel {
			padding: 0px;

			outline: none;

			background: none;
			border: none;
			border-bottom: 1px solid #C4C4C4;

			&:hover,
			&:focus {
				border-bottom: 2px solid #000;
			}
		}
	}
	width: 500px;

	div.content {
		display: flex;
		flex-direction: row;
		justify-content: space-between;
		align-items: center;
		gap: 16px;

		margin: 25px 0 40px 0;
	}

	.image-frame {
		position: relative;
		flex-shrink: 0;
		width: 186px;
		height: 126px;

		border: solid 2px #c5c5c5;

		img {
			position: absolute;
			top: 3px;
			right: 3px;
			width: 180px;
			height: 120px;
		}

		#intro-img-1 {
			opacity: 1;
		}
		#intro-img-2 {
			animation: secondimg 8s infinite;
			opacity: 0;
		}
		#intro-img-3 {
			animation: thirdimg 8s infinite;
			opacity: 0;
		}
	}

}

#confirm .caption {
	text-align: center;
}

#title {
	display: block;
	position: absolute;
	left: 0px;
	right: 0px;
	top: 0px;
	height: 50px;
	padding-top: 15px;
	text-align: center;
	font-size: 30px;
	font-weight: bold;
	color: #fff;
	background: #3498DB;
}

#board {
	position: absolute;
	left: 0;
	bottom: 0;
	right: 180px;
	top: 65px;

	#canvas {
		margin: 0;
		padding: 0;
	}
}

#sidebar {
	position: absolute;
	right: 0px;
	top: 65px;
	width: 180px;
	bottom: 0px;
	background: #262B33;
	color: #fff;
	text-align: center;
	padding-top: 10px;

	#terms {
		margin-top: 10px;
		height: 390px;
		overflow: auto;

		div {
			transition: all 0.5s ease;
			margin-bottom: 12px;

			&.strike {
				opacity: 0.3;
				text-decoration: line-through;
			}
		}
	}

	#checkbtn {
		position: absolute;
		bottom: 35px;
		left: 50%;
	}
}

#backgroundcover {
	display: flex;
	flex-direction: column;
	justify-content: center;

	position: fixed;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	z-index: 9999;

	max-height: 592;
	max-width: 715;

	background: rgba(0, 0, 0, 0.5);

	pointer-events: none;
	opacity: 0;

	&.show {
		opacity: 1;
		pointer-events: all;
	}
}

.fade {
	-webkit-transition: all 0.2s ease;
	transition: all 0.2s ease;
}

.error-notice-container {
	position: absolute;
	left: 0;
	right: 0;
	top: 0;
	bottom: 0;
	background: #2f3944;
	display: none;

	.error-notice {
		width: 625px;
		height: 295px;
		margin: 140px auto 0 auto;
		text-align: center;

		h1 {
			color: #f78348;
			font-size: 13pt;
			padding-top: 130px;
			font-weight: normal;
		}

		h2 {
			font-size: 16pt;
			color: #282828;
			padding-top: 16px;
			font-weight: normal;
		}
	}
}
