$green: #70bd34;

* {
	margin:0px;
	padding:0px;
}

body {
	background: #2f3944;
	font-family: 'Ruda', arial;
	overflow: hidden;
	cursor: default;

	.main-element:focus {
		outline: 2px solid $green;
		outline-offset: -2px;
	}
}

#title {
	display: block;
	position: absolute;
	left: 0px;
	right: 0px;
	top: 0px;
	height: 50px;
	padding-top: 15px;
	text-align: center;
	font-size: 30px;
	font-weight: bold;
	color: #fff;
	background: #3498DB;
}

#board {
	position: absolute;
	left: 0;
	bottom: 0;
	right: 180px;
	top: 65px;

	#canvas {
		margin: 0;
		padding: 0;
	}
}

#sidebar {
	position: absolute;
	right: 0px;
	top: 65px;
	width: 180px;
	bottom: 0px;
	background: #262B33;
	color: #fff;
	text-align: center;
	padding-top: 10px;

	#terms {
		margin-top: 10px;
		height: 390px;
		overflow: auto;

		div {
			transition: all 0.5s ease;
			margin-bottom: 12px;

			&.strike {
				opacity: 0.3;
				text-decoration: line-through;
			}
		}
	}

	#checkbtn {
		position: absolute;
		bottom: 35px;
		left: 50%;
		margin-left: -40px;
		width: 80px;
		text-align: center;
		cursor: pointer;
		display: block;
		background: $green;
		padding: 6px 0px;
		border-radius: 3px;

		&:hover {
			background: #78DD5E;
			color: #000;
		}
	}
}

#backgroundcover {
	position: fixed;
	top: 0px;
	right: 0px;
	bottom: 0px;
	left: 0px;
	background: #000;
	z-index: -5;
	opacity: 0;

	&.show {
		opacity: 0.5;
		z-index: 9999;
	}
}

#alertbox {
	width: 300px;
	left: 50%;
	top: 49%;
	margin-left: -250px;
	margin-top: -50px;
	padding: 15px;
	position: absolute;
	background: #fff;
	border: solid 1px #999;
	border-radius: 5px;
	z-index: 10000;
	box-shadow: 0px 0px 5px #000;
	text-align: center;
	opacity: 0;
	z-index: -5;

	.button {
		margin: 20px 10px 10px;
		padding: 8px;
		border: none;
		font-size: 20px;
		cursor: pointer;

		&.cancel{
			border:white;
			background: none;
			border-bottom: 1px solid #999;
			padding: 0px;
		}
		&.submit{
			background:$green;
			color:white;

			&:hover {
				background: #78DD5E;
				color: #000;
			}
		}
	}

	&.show {
		opacity: 1;
		z-index: 10000;
	}
}

.fade {
	-webkit-transition: all 0.2s ease;
	transition: all 0.2s ease;
}

.error-notice-container {
	position: absolute;
	left: 0;
	right: 0;
	top: 0;
	bottom: 0;
	background: #2f3944;
	display: none;

	.error-notice {
		width: 625px;
		height: 295px;
		margin: 140px auto 0 auto;
		text-align: center;

		h1 {
			color: #f78348;
			font-size: 13pt;
			padding-top: 130px;
			font-weight: normal;
		}

		h2 {
			font-size: 16pt;
			color: #282828;
			padding-top: 16px;
			font-weight: normal;
		}
	}
}
